@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item{
    @apply px-2.5 py-2.5 flex items-center justify-center cursor-pointer
  }
  .toggle-item{
    @apply grid place-content-center h-[30px] w-[30px] rounded-full
  }
  .bar-item{
    @apply flex-1 max-w-5 sm:max-w-[30px] bg-primary-green/30 rounded-t-[1.25rem]
  }
  .chart-lines{
    @apply border-t border-[#EAEAEA] border-dashed
  }
  .chart-labels{
    @apply block sm:text-center odd:hidden min-[265px]:odd:block w-fit h-fit xs:w-5 xs:h-8 sm:h-fit sm:w-[30px] -rotate-[75deg] sm:rotate-0 text-start xs:text-right transition-all
  }
  .section{
    @apply border border-neutral-200 bg-white rounded-[14px] dark:bg-[#262626] dark:border-[#737373] transition-all
  }
  .active{
    @apply after:content-[""] after:block after:h-[21px] after:w-[3px] after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:bg-[#0D062D] after:rounded-l-lg after:dark:bg-slate-200
  }
  .dropdown-item{
    @apply flex gap-3 py-2 px-4 hover:bg-black/10 hover:dark:bg-white/10 cursor-pointer
  }
}

:root {
  background-color: #FAFAFA;
}


@media (prefers-color-scheme: dark){
  :root{
    background-color: #171717;
  }
}

.gradient-bg:hover{
  background: linear-gradient(180deg, #34CAA5 0%, rgba(52, 202, 165, 0.00) 100%) !important; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bar-animation{
  animation: growUp 0.5s 0.1s ease-out;
  transition: all;
  transform-origin: bottom;
}

@keyframes growUp {
  0%{transform: scaleY(0);}
  100%{transform: scaleY(1);}
}